body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
  touch-action: none;
  overflow: hidden;
}

#tile-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: fit-content;
  justify-content: center;
  align-content: flex-start;
  height: 100vh;
  touch-action: none;
}

.tile {
  width: var(--tile-dim);
  height: var(--tile-dim);
  flex-basis: auto;
  background-color: gray;
  margin: 0;
  z-index: 0;
  user-select: none;
}

.tile.over {
  position: absolute;
}

.shade {
  background-color: rgba(0, 0, 0, .6);
}